env:
  global:
    - RUST_BACKTRACE=1
    - PATH=$PATH:$HOME/.cargo/bin
os:
  - linux
  - osx
language: rust
rust:
  - 1.19.0
  - nightly-2017-07-20
sudo: false
cache:
  cargo: true
script:
  - tar --version || true
  - zip --version || true
before_deploy:
  - cargo build --release
  - mkdir -p target/deploy
  - strip target/release/libsamp.so
  - zip target/deploy/libsamp-v0.0.1.zip target/release/libsamp.so
  - zip target/deploy/libsamp-mock-v0.0.1.zip target/release/libsamp.so
deploy:
  provider: s3
  access_key_id: AKIAIA2TXTG7EV5VIG2Q
  secret_access_key:
    secure: qEDay6TCAy3tBLqLYFOx9OjAdoRl010paK2//teFETfwUfJA/RtNSfkp1yrgx+kZ3FO8cthdDnwR3zjM3pkCL+5mGkQMAgvRY7rcEB5H1VyO4jkZRoB4n/yUu5jB4dHdeeRWTOJxNOOPA0G1Q65LLkJql2JGoJatqE3pBmJm0X8=
  bucket: samp-deploy
  local-dir: target/deploy
  upload-dir: $TRAVIS_PULL_REQUEST_SHA
  acl: public_read
  region: eu-west-2
  skip_cleanup: true
  on:
    condition: -n "${TRAVIS_PULL_REQUEST_SHA}"
    rust: '1.19.0'
after_deploy: rm -rf target/deploy
